#    COPYRIGHT (C) 2025 Mitsubishi Electric Corporation

#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at

#        http://www.apache.org/licenses/LICENSE-2.0

#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.

/**/controller_manager:
  ros__parameters:
    update_rate: 286  #Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    motor_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    io_mon_controller:
      type: melfa_mon_controllers/MelfaMonController

    fts_curr_broadcaster:
      type: force_torque_sensor_broadcaster/ForceTorqueSensorBroadcaster

    fts_before_offset_broadcaster:
      type: force_torque_sensor_broadcaster/ForceTorqueSensorBroadcaster

    fts_after_offset_broadcaster:
      type: force_torque_sensor_broadcaster/ForceTorqueSensorBroadcaster

    tcp_pose_broadcaster:
      type: pose_broadcaster/PoseBroadcaster

/**/fts_curr_broadcaster:
  ros__parameters:
      sensor_name: fts_curr_sensor
      frame_id: $(var prefix)$(var robot_model)tool_0
      state_publish_rate: 286.0


/**/fts_before_offset_broadcaster:
  ros__parameters:
      sensor_name: fts_before_offset_sensor
      frame_id: $(var prefix)$(var robot_model)default_tcp
      state_publish_rate: 286.0

/**/fts_after_offset_broadcaster:
  ros__parameters:
    sensor_name: fts_after_offset_sensor
    frame_id: $(var prefix)$(var robot_model)tool_1
    state_publish_rate: 286.0

/**/joint_state_broadcaster:
  ros__parameters:
    state_interfaces:
      - position # data_id: 7. joint position in rad. 
      - velocity # data_id: 15. motor velocity in rad/s. this is the velocity of the motor, NOT the joint,
      - ampere_rms # data_id: 1011. Ampere Root-Mean-Square from the motor
    map_interface_to_joint_state:
      effort: ampere_rms
    joints:
      - $(var prefix)$(var robot_model)joint_1
      - $(var prefix)$(var robot_model)joint_2
      - $(var prefix)$(var robot_model)joint_3
      - $(var prefix)$(var robot_model)joint_4
      - $(var prefix)$(var robot_model)joint_5
      - $(var prefix)$(var robot_model)joint_6
      - $(var prefix)$(var robot_model)joint_7
      - $(var prefix)$(var robot_model)joint_8
    use_local_topics: true
    state_publish_rate: 286.0 # Defaults to 50
    action_monitor_rate: 20.0 # Defaults to 20

/**/motor_state_broadcaster:
  ros__parameters:
    state_interfaces:
      - encoder_misscount # data_id: 18.
      - encoder_temperature # data_id: 17
      - motor_voltage # data_id: 19
    map_interface_to_joint_state:
      position: encoder_misscount
      velocity: encoder_temperature
      effort: motor_voltage
    joints:
      - $(var prefix)$(var robot_model)joint_1
      - $(var prefix)$(var robot_model)joint_2
      - $(var prefix)$(var robot_model)joint_3
      - $(var prefix)$(var robot_model)joint_4
      - $(var prefix)$(var robot_model)joint_5
      - $(var prefix)$(var robot_model)joint_6
      - $(var prefix)$(var robot_model)joint_7
      - $(var prefix)$(var robot_model)joint_8
    use_local_topics: true
    state_publish_rate: 286.0 # Defaults to 50
    action_monitor_rate: 20.0 # Defaults to 20

/**/tcp_pose_broadcaster:
  ros__parameters:
    pose_name: $(var prefix)$(var robot_model)tcp_pose
    frame_id: $(var prefix)$(var robot_model)base
    state_publish_rate: 286.0
    tf:
      child_frame_id: $(var prefix)$(var robot_model)mon_default_tcp



/**/io_mon_controller:
  ros__parameters:
    general1_io_state_interfaces:
      - general1_io/input_addrr
      - general1_io/output_addrr
      - general1_io/input_data
      - general1_io/output_data
    general2_io_state_interfaces:
      - general2_io/input_addrr
      - general2_io/output_addrr
      - general2_io/input_data
      - general2_io/output_data
    user1_io_state_interfaces:
      - user1_io/input_addrr
      - user1_io/output_addrr
      - user1_io/input_data
      - user1_io/output_data
    user2_io_state_interfaces:
      - user2_io/input_addrr
      - user2_io/output_addrr
      - user2_io/input_data
      - user2_io/output_data
    user3_io_state_interfaces:
      - user3_io/input_addrr
      - user3_io/output_addrr
      - user3_io/input_data
      - user3_io/output_data
    user4_io_state_interfaces:
      - user4_io/input_addrr
      - user4_io/output_addrr
      - user4_io/input_data
      - user4_io/output_data
    user5_io_state_interfaces:
      - user5_io/input_addrr
      - user5_io/output_addrr
      - user5_io/input_data
      - user5_io/output_data
    user6_io_state_interfaces:
      - user6_io/input_addrr
      - user6_io/output_addrr
      - user6_io/input_data
      - user6_io/output_data
    user7_io_state_interfaces:
      - user7_io/input_addrr
      - user7_io/output_addrr
      - user7_io/input_data
      - user7_io/output_data
    user8_io_state_interfaces:
      - user8_io/input_addrr
      - user8_io/output_addrr
      - user8_io/input_data
      - user8_io/output_data
    misc_io_state_interfaces:
      - io_control_mode/io_mode
      - ctrl/ctrl_type
    general1_io_command_interfaces:
      - general1_io/input_addrr
      - general1_io/output_addrr
    general2_io_command_interfaces:
      - general2_io/input_addrr
      - general2_io/output_addrr
    user1_io_command_interfaces:
      - user1_io/input_addrr
      - user1_io/output_addrr
    user2_io_command_interfaces:
      - user2_io/input_addrr
      - user2_io/output_addrr
    user3_io_command_interfaces:
      - user3_io/input_addrr
      - user3_io/output_addrr
    user4_io_command_interfaces:
      - user4_io/input_addrr
      - user4_io/output_addrr
    user5_io_command_interfaces:
      - user5_io/input_addrr
      - user5_io/output_addrr
    user6_io_command_interfaces:
      - user6_io/input_addrr
      - user6_io/output_addrr
    user7_io_command_interfaces:
      - user7_io/input_addrr
      - user7_io/output_addrr
    user8_io_command_interfaces:
      - user8_io/input_addrr
      - user8_io/output_addrr
    misc_io_command_interfaces:
      - io_control_mode/io_mode
      - ctrl/ctrl_type
